<div class="products-head">
  <div class="products-menu-wrapper">

    <h2 class="products-menu-head">Products list</h2>
    <div class="products-menu-area">
      <button class="products-menu-btn">
        <i class="bi bi-grid"></i>
        <span>Category</span>
        <i class="bi bi-chevron-down"></i>
      </button>
      <div class="products-menu">
        <ul class="products-menu-vis hidden">
          <li class="products-menu-vis-li">
            <span class="products-menu-cat_id hidden">9999</span>
            <span><b> Hammasi</b></span>
          </li>
          {{#each categories}}
            <li class="products-menu-vis-li">
              <span class="products-menu-cat_id hidden">{{cat_id}}</span>
              <span>{{cat_name}}</span>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <a href="/add">add product</a>

</div>

{{#if deleteProduct}}
  <div
    class="alert alert-success alert-dismissible fade show w-100"
    id="errorCloseBtn"
    role="alert"
  >
    <strong>Muvaffaqqiyatli! </strong>
    {{deleteProduct}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<div class="products">
  {{#each product}}
    <div class="product">
      <div class="cat_id hidden">
        {{cat_id}}
      </div>
      <div class="product-img-area">
        <img src="{{image}}" alt="" class="product-img" />
      </div>
      <div class="product-text">
        <h5 class="product-th">{{title}}</h5>
        <small class="product-price">Narxi: {{price}}</small>
        <div class="description hidden">
          {{description}}
        </div>
        <div class="idProduct hidden">
          {{id}}
        </div>
      </div>
      <div class="product-edit-btn">
        <button class="bg-green viewTool">
          <i class="bi bi-eye"></i>
          <span> View</span>
        </button>
        <button class="bg-blue viewEdit">
          <i class="bi bi-pencil-square"></i>
          <span> Edit</span>
        </button>
        <button id="deleteBtn" class="bg-red">
          <i class="bi bi-trash3"></i>
          <span> Delete</span>
          <div class="deleteBtnActive hidden">
            <a href="/delete/{{id}}">
              Yes, delete
            </a>
            <span>No, keep</span>
          </div>
        </button>

      </div>
    </div>
  {{/each}}
</div>

<div class="tools-wrapper hidden">

  <div id="view" class="view-wrapper">
    <div class="products-head">
      <h2>Edit product</h2>
      <span class="products-head-btns">
        <button class="bg-gray view-edit-button">
          save and edit
          {{! <i class="bi bi-sd-card"></i>
          <span> Save</span> }}
        </button>
        <button class="tools-wrapper-close"><i
            class="bi bi-x-square"
          ></i></button>
      </span>
    </div>
    <div id="view" class="view hidden"></div>
  </div>
</div>

<script src="dom/test.js"></script>