<div class="products-head">
  <h2>Products list</h2>
  <a href="/add">add product</a>
</div>
{{#if deleteProduct}}
  <div
    class="alert alert-success alert-dismissible fade show w-100"
    id="errorCloseBtn"
    role="alert"
  >
    <strong>Muvaffaqqiyatli! </strong>
    {{deleteProduct}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}
<div class="products">
  {{#each product}}
    <div class="product">
      <div class="product-img-area">
        <img src="{{image}}" alt="" class="product-img" />
      </div>
      <div class="product-text">
        <h5 class="product-th">{{title}}</h5>
        <small class="product-price">Narxi: {{price}}</small>
      </div>
      <div class="product-edit-btn">
        <button class="bg-green viewTool">
          <i class="bi bi-eye"></i>
          <span> View</span>
        </button>
        <button class="bg-blue">
          <i class="bi bi-pencil-square"></i>
          <span> Edit</span>
        </button>
        <button class="bg-red">
          <i class="bi bi-trash3"></i>
          <a href="/delete/{{id}}">
            <span> Delete</span>
          </a>
        </button>
      </div>
    </div>
  {{/each}}
</div>

<div class="tools-wrapper hidden">

  <div class="view">
    <button class="closeToolsWrapper"><i class="bi bi-x-lg"></i></button>
  </div>
</div>

<script src="dom/test.js"></script>