<table class="table">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">img</th>
      <th scope="col">price</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <th style="width:50px">{{@index}}</th>
        <td style="width:10%">{{title}}</td>
        <td style="width:60%">{{description}}</td>
        <td> <img src="{{image}}" alt="" style="height: 100px;" /></td>
        <td>{{price}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>